section {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F6F6F4;
}
main {
    max-width: 576px;
    height: 100%;
    margin: 0 auto;
}
.overlay {
    position: relative;
    z-index: 1;
}
.main_section {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 25px 20px 36px; 
    background-image: url('../images/main_bg.jpg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
}
.main_section_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    line-height: 18.5px;
}
.main_section_header > h5 {
    margin-top: -3px;
    font-size: 18px;
}
.main_section_header > p {
    flex: 0 0 100px;
    max-width: 100px;
}
.main_section_header > *:first-child {
    text-align: left;
    line-height: 1.35;
}
.main_section_header > *:last-child {
    text-align: right;
    line-height: 1.35;
}
.main_section_header .circle_ico {
    display: block;
    width: 3px;
    height: 3px;
    margin: 2px auto;
    border-radius: 50%;
    background-color: #131312;
}
.main_section_footer {
   text-align: center; 
}
.main_section_footer > h6 {
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    font-family: NanumMyeongjo, sans-serif;
    letter-spacing: -0.05em;
}

.mainTextBox {
    opacity: 0;
    transform: translate(0, 40px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}
.mainTextBox.active {
    opacity: 1;
    transform: translate(0, 0);
}

.text_section {
    padding: 110px 30px;
    text-align: center;
}
.text_section .top_text_box > p {
    margin-bottom: 20px;
    color: #A4A29A;
    line-height: 1.6;
    letter-spacing: 0.01em;
}
.text_section .top_text_box > h6 {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: -0.07em;
}

.text_section .bottom_text_box {
    position: relative;
    margin-top: 35px;
    padding-top: 35px;
}
.text_section .bottom_text_box::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    width: 23px;
    height: 1px;
    background-color: #A4A29A;
    transform: translate(50%, 0);
}
.text_section .bottom_text_box ul li {
    display: flex;
    padding: 3px 0;
    align-items: center;
    justify-content: center;
}
.text_section .bottom_text_box ul li h5 {
    margin: 0 12px;
    font-size: 19px;
    font-weight: 500;
}
.text_section .bottom_text_box ul li h5 small {
    font-size: 15px;
}
.text_section .bottom_text_box dl {
    display: flex;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
}
.text_section .bottom_text_box dd {
    position: relative;
}
.text_section .bottom_text_box dd a {
    display: flex;
    align-items: center;
}
.text_section .bottom_text_box dd + dd {
    margin-left: 22px;
    padding-left: 22px;
}
.text_section .bottom_text_box dd + dd::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 16px;
    background-color: #D8D6D3;
    transform: translate(0, -50%);
}
.text_section .bottom_text_box dd p {
    margin-left: 7px;
    font-size: 15px;
}
.gallery_section {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;

    border-top: 1px solid #D8D6D3;
    text-align: center;
}
.section_title {
    text-align: center;
    font-weight: 500;
    font-family: SortsMillGoudy, sans-serif;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
}
.gallery_section > p {
    margin: 3px 0 18px;
    font-size: 14px;
    color: #A4A29A;
    letter-spacing: -0.05em;
}
.map_section {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #D8D6D3;
}
.map_area {
    margin: 15px 0;
    text-align: center;
}
.map_box {
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
}
.map_box a {
    display: block;
}
.map_area > h6 {
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-family: NanumMyeongjo, sans-serif;
    letter-spacing: -0.05em;
}
.map_section_inner {
    padding-left: 20px;
    padding-right: 20px;
}

.map_section .info_box {
    padding-top: 30px;
}
.map_section .info_box .title {
    display: inline-block;
    margin-bottom: 14px;
    line-height: 1;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #131312;
}
.map_section .info_box .detail {
    font-weight: 500;
    letter-spacing: -0.04em;
}
.map_section .info_box .sub_detail {
    margin-top: 5px;
    color: #8E2424;
    font-size: 13px;
    letter-spacing: -0.04em;
    line-height: 1.8;
}
.donate_section {
    border-top: 1px solid #D8D6D3;
}
.donate_section > article {
    padding: 40px 0;
}
.donate_section > article > h6 {
    position: relative;
    padding-bottom: 7px;
    border-bottom: 1px solid #131312;
    letter-spacing: -0.04em;
}
.donate_section > article > h6::after {
    content: '';
    display: block;
    position: absolute;
    right: 4px;
    top: 15%;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #131312;
    border-right: 1px solid #131312;
    transform: rotate(45deg);
}
.donate_section > article li {
    padding: 25px 0;
}
.donate_section > article li:last-child {
    padding-bottom: 0;
}
.donate_section > article li + li {
    border-top: 1px solid #D8D6D3;
}
.donate_section .copy_area {
    display: flex;
    margin-top: 12px;
    align-items: center;
}
.donate_section .copy_area h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    font-family: NanumMyeongjo, sans-serif;
    letter-spacing: -0.04em;
}
.donate_section .copy_area button {
    margin-left: 12px;
    padding: 0;
    font-size: 12px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #181817;
    letter-spacing: -0.04em;
    font-family: NanumMyeongjo, sans-serif;
    color: #131312;
}
.bottom_section {
    padding-top: 165px;
    padding-bottom: 190px;
    border-top: 1px solid #D8D6D3;
    text-align: center;
    color: #A4A29A;
}
.bottom_section .text_box {
    padding-top: 28px;
}
.bottom_section h6,
.bottom_section p {
    line-height: 1.65;
    font-weight: 500;
    font-family: SortsMillGoudy, sans-serif;
    letter-spacing: -0.015em;
}
.gallery_section .swiper {
    padding-bottom: 58px;
}
.gallery_section .swiper-slide {
    padding-top: 130%;
    background-position: center;
    background-size: cover;
}
.swiper-pagination {
    bottom: 20px;
    font-size: 14px;
    color: #A4A29A;    
    font-family: NanumMyeongjo, sans-serif;
}
.swiper-pagination-current {
    color: #131312;
}

.btn_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 53px;
    height: 53px;
    background-color: #F6F6F4;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #D8D6D3;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 5;
}

.donateBody {
    display: none;
}
.btn_clip {
    display: inline-flex;
    padding: 0 0 3px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #A4A29A;
    color: #767368;
    background-color: transparent;
}
.btn_clip > * {
    display: inline-block;
    vertical-align: middle;
}
.btn_clip > p {
    margin-top: 2px;
    margin-left: 3px;
    line-height: 1;
    font-weight: 500;
    font-family: SortsMillGoudy, sans-serif;
}
